/* You can add global styles to this file, and also import other style files */
:root {
    --betclic-red: #E81E2B;
    --betclic-dark-red: #B8162A;
    --betclic-bright-red: #FF2E3E;
    --betclic-gold: #FFD700;
    --betclic-dark-bg: #0A1F0A;
    --betclic-charcoal: #1E1E1E;
}

body {
    background-color: var(--betclic-dark-bg);
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    font-family: Arial, Helvetica, sans-serif;
}
